.example-spacer {
    flex: 1 1 auto;
  }
  img {
    max-width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .margin {
    margin: 7.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: thistle;
  }
  