<div class="container">
  <div fxFlex="100%">
    <img
      class="responsive"
      src="https://assets.lvp.global/technical_test/logo-mediapro-studios.png"
    />
  </div>
</div>
<div class="container">
  <div fxFlex="100%">
    <div>
      <H1>¿QUIENES SOMOS?</H1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor
        morbi non arcu risus. At augue eget arcu dictum varius duis. Lorem
        mollis aliquam ut porttitor leo a. Quis commodo odio aenean sed
        adipiscing. Pharetra magna ac placerat vestibulum. Neque egestas congue
        quisque egestas diam in arcu cursus euismod. Elementum nisi quis
        eleifend quam adipiscing vitae proin sagittis nisl. Integer eget aliquet
        nibh praesent tristique magna. Venenatis tellus in metus vulputate eu
        scelerisque. Arcu dictum varius duis at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor
        morbi non arcu risus. At augue eget arcu dictum varius duis. Lorem
        mollis aliquam ut porttitor leo a. Quis commodo odio aenean sed
        adipiscing. Pharetra magna ac placerat vestibulum. Neque egestas congue
        quisque egestas diam in arcu cursus euismod. Elementum nisi quis
        eleifend quam adipiscing vitae proin sagittis nisl. Integer eget aliquet
        nibh praesent tristique magna. Venenatis tellus in metus vulputate eu
        scelerisque. Arcu dictum varius duis at.
      </p>
    </div>
  </div>
</div>
